@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <span class="navbar-brand">Journal Application</span>
            <span>🌞 Light</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
        
<style>
    .page {
        display: flex;
    }

    .sidebar {
        width: 220px;
        background: #1e293b;
        color: white;
        height: 100vh;
        padding-top: 20px;
    }  .top-row {
        height: 60px;
        background: #0f172a;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    main {
        flex: 1;
    }
    a {
        color: white !important;
    }</style>